.hn_todo {
  .o_todo_kanban_record_title {
    span {
      width: calc(100% - 40px);
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      // white-space: nowrap;
      display: block;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        white-space: normal;
      }
    }
  }
  .o_kanban_record_top .o_kanban_record_headings {
    width: 180px;
  }
  .user-lable {
    color: white;
    border: 1px solid white;
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .user {
    span {
      max-width: 70px;
      font-size: 12px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        white-space: normal;
      }
    }
  }
}
.modal .modal-dialog .o_form_view .oe_chatter {
  display: block;
}
